-- Update existing users to have subscription field if missing
UPDATE users
SET subscription = '{"fullAccess": false}'
WHERE subscription IS NULL OR subscription = '{}' OR subscription::text = '';

-- Create friendships table for persistent friend relationships
CREATE TABLE IF NOT EXISTS public.friendships (
    id SERIAL PRIMARY KEY,
    user_email TEXT NOT NULL REFERENCES public.users(email) ON DELETE CASCADE,
    friend_email TEXT NOT NULL REFERENCES public.users(email) ON DELETE CASCADE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    UNIQUE(user_email, friend_email)
);

-- Create indexes for efficient friendship queries
CREATE INDEX IF NOT EXISTS idx_friendships_user_email ON public.friendships(user_email);
CREATE INDEX IF NOT EXISTS idx_friendships_friend_email ON public.friendships(friend_email);

-- Disable Row Level Security for friendships table
ALTER TABLE public.friendships DISABLE ROW LEVEL SECURITY;

-- Create friend_requests table for pending friend requests
CREATE TABLE IF NOT EXISTS public.friend_requests (
    id TEXT PRIMARY KEY,
    from_email TEXT NOT NULL REFERENCES public.users(email) ON DELETE CASCADE,
    from_username TEXT NOT NULL,
    to_email TEXT NOT NULL REFERENCES public.users(email) ON DELETE CASCADE,
    to_username TEXT NOT NULL,
    requested_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create indexes for friend requests
CREATE INDEX IF NOT EXISTS idx_friend_requests_to_email ON public.friend_requests(to_email);
CREATE INDEX IF NOT EXISTS idx_friend_requests_from_email ON public.friend_requests(from_email);

-- Disable Row Level Security for friend_requests table
ALTER TABLE public.friend_requests DISABLE ROW LEVEL SECURITY;

-- Create outgoing friend requests table (for tracking sent requests)
CREATE TABLE IF NOT EXISTS public.outgoing_requests (
    id TEXT PRIMARY KEY,
    from_email TEXT NOT NULL REFERENCES public.users(email) ON DELETE CASCADE,
    from_username TEXT NOT NULL,
    to_email TEXT NOT NULL REFERENCES public.users(email) ON DELETE CASCADE,
    to_username TEXT NOT NULL,
    requested_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create indexes for outgoing requests
CREATE INDEX IF NOT EXISTS idx_outgoing_requests_from_email ON public.outgoing_requests(from_email);
CREATE INDEX IF NOT EXISTS idx_outgoing_requests_to_email ON public.outgoing_requests(to_email);

-- Disable Row Level Security for outgoing_requests table
ALTER TABLE public.outgoing_requests DISABLE ROW LEVEL SECURITY;